
<form (submit)="User($event)">

	<div class="input">
		<input type="submit" value="Grad">
    </div>
    
	<div class="input">
		<input type="submit" value="Emp">
	</div>
</form>
<!--

<section class="hero is-info is-fullheight is-bold">
	<div class="panel panel-default" [ngStyle]="{'background-image': getUrl()}"></div>
    <div class="hero-body">
    <div class="container">

      <h1 class="title">Home Page!</h1>

    </div>
    </div>
	</section>

<head>
<title>Bootstrap Theme Simply Me</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container-fluid bg-1 text-center">
<h3>Who Am I?</h3>
<img src="https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Bird">
<h3>I'm an adventurer</h3>
</div>

</body>

<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
	<h1>Angular Bootstrap Demo</h1>
	<p class="lead">
	  This demo shows how to integrate Bootstrap 4 with Angular 7  
	</p>
	<a class="btn btn-lg btn-primary" href="" role="button">View tutorial</a>
  </div>
  -->

