<p>
    You are authenticated.
    <a routerLink="/">Go back</a>
  </p>
  
<div class="a" class="centered">
  <button class="w3-button w3-round-large" type="submit" class="btn btn-info"><a style="font-weight:bold" style="color:black" routerLink="/coursedetails">Course Details</a></button>

</div>

  <div class="b" class="centered">
    <button class="w3-button w3-round-large" type="submit" class="btn btn-info">Training Materials</button>
  </div>
 <div class="centered">
  <button class="w3-button w3-round-large" type="submit" class="btn btn-info">Trainers Details</button>
 </div>
 <div  class="centered">
  <button class="w3-button w3-round-large" type="submit" class="btn btn-info">Take a assessment</button>
 </div>
 