

    <!--<div style="background-image: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');"></div>
	<div class="bg">-->
    <div class=bg>
<pre >
    
    Accolite University runs a 60 day rigorous boot-camp and induction program for Accolite’s fresh college grads
     who have some formal exposure to common programming languages and other platforms
     In boot-camp, they go through a rigorous training program on various technologies and platforms and graduate as 
     Seasoned Professionals.Post graduating, they are assigned to live projects.
      AU, through its tightly overseen lots-of-work-lots-of-play model, helps orient fresh hires to the 
      rigors and professionalism that is required in the Industry.
       Apart from exposing fresh hires to technology areas that are core competencies of Accolite, 
       and helping them understand and appreciate software engineering best practices, 
       AU also serves to inculcate Accolite core values and AU’s own cult-like- culture in our fresh hires.

     In addition, Accolite University through its i-learn program constantly educates our experienced hires
      to keep them at the top of the industry changes both from a technology and business perspectives.
</pre>
</div>



