<!--  
<header>WELCOME  TO AU PORTAL</header>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-middle">
      

    <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-list">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
  
      </ul>
    </div>
  </nav>
  
-->
  <!-- nav -->
  <header>WELCOME  TO AU PORTAL</header>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-link" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/contact-list">Contacts</a>
        <a class="nav-link" routerLink="/about">About</a>
        <a  class="nav-link" routerLink="/logout">LogOut</a>
    </div>
</nav>


  